.container {
  display: flex;
  align-items: center;
  gap: 100px;
}

.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.title {
  font-size: 53px;
  /* background: linear-gradient(to bottom, #2d92a3, hwb(0 54% 38%)); */
  background: white;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Orbitron', sans-serif;
  font-variant-caps:petite-caps;
  overflow: hidden;
  white-space: nowrap;
  animation: 
    typing 3.5s steps(80, end) infinite ,
    blink-caret .75s step-end infinite;
}
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: blue; }
}


.img {
  width: 100%;
  height: 500px; 
  object-fit: contain;
  /* animation: move 3s infinite ease alternate; */
}

@keyframes move {
  from {
    transform: translateY(-10px);
  }
  to {
    transform: translateY(10px);
  }
}


.desc {
  font-size: 22px;
  font-weight: 500;
  /* font-family: 'Old Standard TT', serif;
   */
  font-family: 'Montserrat', sans-serif;
}

.headingContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    position: relative;
}

.upperLine {
    width: 114px;
    background-color: var(--primary);
    height: 3px;
    position: absolute;
    left: 111px;
}

.lowerLine {
    width: 114px;
    background-color: var(--primary-1);
    height: 3px;
}
.op{
  /* margin-top: 2vw; */
  background-color: white;
  position: relative;
  /* left: 40px; */
  border: none;
  /* width: 40%;
  height: 65%; */
  width: 220px;
  padding: .4rem 0;
  font-size: 18px;
  font-family: "poppins" ,serif;
  color: black;
  border-radius: 35px;
  font-weight: 400;
  cursor: pointer;
  background-image: url("./iconmonstr-arrow-right-thin.svg");
  background-repeat: no-repeat;
  background-position: right 24px center;
  transition: .3s ease-in;
}



@media screen and (max-width: 580px) {
  .title{
    margin-top: 110px;
  }
}
@media screen and (max-width: 750px) {
 .item{
  margin-top: 10rem;
 }
}
