.container{
  /* margin-top: 20px; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 50px 0px;
  border: 1px solid white;
  width: 45%;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  /* margin: auto; */
  border-radius: 20px;
  background-color: #1C1C48;
}
.titlee{
  font-size: 45px;
  font-family: 'Times New Roman', Times, serif;
}
.subtitle{
  font-size: 25px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.form{
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input{
  padding: 20px;
  background-color: transparent;
  border: 2px solid #bbb;
  color:#bbb;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
}

.button {
  width: 300px;
  padding: 20px;
  cursor: pointer;
  background-color: #4E4FEB;
  border: none;
  border-radius: 5px;
  color: #eee;
  font-weight: bold;
}
@media screen and (min-width:100px) and (max-width: 250px) {
  .container{
    top: 20%;
    position: absolute;
    width: 70%;
  }
  .button{
    width: 70%;
  }
  .form{
    width:70%;
  }  
}
@media screen and (min-width:251px) and (max-width: 705px) {
  .container{
    top: 20%;
    position: absolute;
    width:70%;
}
.button{
  width:80%;
}
.form{
  width:80%;
}
}
@media screen and (max-width: 1080px) {
  .container{
    width: 55%;
  }
  .titlee{
    font-size: 4vw;
    font-family: 'Times New Roman', Times, serif;
  }
  .subtitle{
    font-size: 2.2vw;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
}